<div class="chat-header">
    <div class="chat-user">
        <div class="avatar small"></div>
        <div class="username">{{selectedChat.name}}</div>
    </div>
    <div class="chat-menu">⋮</div>
</div>

<div class="chat-body">
    <div class="chat-date">19 июня</div>

    <div class="message incoming">
        <div class="bubble">
            Привет! Смотри, тут всплыл интересный кусок лунной космической истории...
        </div>
        <div class="meta">11:56</div>
    </div>

    <div class="message outgoing">
        <div class="bubble">Круто!</div>
        <div class="meta">✔✔ 12:00</div>
    </div>
</div>
