<div class="chat-page">
    <div class="chat-page__list">
        <div class="chat-page__list-header">
            {{> Button id="add-question" text="Зарегистрироваться" class="secondary"}}
            {{> Input id="question-input" type="email" placeholder="Почта"}}
        </div>

    </div>
    <div class="chat-page__current">
    </div>
</div>