<div class="modal-overlay">
  <div class="modal-content">
    <h2>Add User to Chat</h2>
    <input type="text" id="user-search-input" placeholder="Enter login to search">
    <ul id="user-search-results"></ul>
    <button id="close-modal-button">Close</button>
  </div>
</div>
