<div class="app">
    <div class="login-page">
        <h1 class="login-page__title">Войти</h1>
        <form>
            {{> Input id="question-input" type="text" placeholder="Логин"}}
            {{> Input id="question-input" type="text" placeholder="Пароль"}}
            {{> Button id="add-question" text="Авторизоваться"}}
            {{> Button id="add-question" text="Зарегистрироваться"}}
        </form>
    </div>
</div>